{% extends "base.html" %} {% block title %}Casino Nite Home{% endblock %} {% block content
    %}
    
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/home.css" />  
</head>
<body>
    <div class="overlay" id="overlay"> 
        <h3>
            Searching now...
        </h3>
    </div>
    <div class="hero-bg">
        <section class="top">

            <h1><span> CasinoNite </span></h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui iure repudiandae quasi impedit non facere dolorem totam esse eveniet et.</p>
        
            <div class="form-container"> 
                <form action="">
                    <div class="form-left">
                    </div>
                    <input type="button" value="START NOW" id="cta-btn" >
                </form>
            </div>
        </section>
    </div>
    
    <section class="authentic">
        <div class="right-col">
            <h2>Authentic. Awesome</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error explicabo tempora et, qui impedit quam voluptatem expedita sed nobis reprehenderit.</p>
        </div>
        <div class="above">
            <img src="static/images/celebrate.jpg" alt="Picture of People Celebrating">
        </div>
    </section>

    <script> 

        let btn = document.getElementById('cta-btn');
        let overlay = document.getElementById('overlay');

        btn.addEventListener('click', ()  => {
            overlay.style.display = 'grid';
            overlay.classList.add('animate-overlay');
        }) 

    </script>
</body>
</html>
    
    {% endblock %}